<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>false</dontWrapJar>
  <headerType>gui</headerType>
  <jar>C:\Users\maduh\OneDrive\Documents\NetBeansProjects\JayanthaHardware\dist\JayanthaHardware.jar</jar>
  <outfile>C:\Users\maduh\OneDrive\Documents\NetBeansProjects\JayanthaHardware\dist\JayanthaHardware.exe</outfile>
  <errTitle>Please Install JDK First!</errTitle>
  <cmdLine></cmdLine>
  <chdir>.</chdir>
  <priority>normal</priority>
  <downloadUrl></downloadUrl>
  <supportUrl></supportUrl>
  <stayAlive>false</stayAlive>
  <restartOnCrash>false</restartOnCrash>
  <manifest></manifest>
  <icon>C:\Users\maduh\Downloads\icon.ico</icon>
  <singleInstance>
    <mutexName>JayanthaHardware</mutexName>
    <windowTitle>JayanthaHardware</windowTitle>
  </singleInstance>
  <jre>
    <path>C:\Program Files\Java\jdk-17\bin</path>
    <requiresJdk>true</requiresJdk>
    <requires64Bit>false</requires64Bit>
    <minVersion>1.8.0</minVersion>
    <maxVersion></maxVersion>
  </jre>
  <versionInfo>
    <fileVersion>1.0.0.0</fileVersion>
    <txtFileVersion>1.0.0.0</txtFileVersion>
    <fileDescription>Jayantha Hardware&apos;s Point Of Sals System</fileDescription>
    <copyright>SDM - 2024</copyright>
    <productVersion>1.0.0.0</productVersion>
    <txtProductVersion>1.0.0.0</txtProductVersion>
    <productName>Jayantha Hardware</productName>
    <companyName>Jayantha Hardware</companyName>
    <internalName>Jayantha Hardware</internalName>
    <originalFilename>JayanthaHardware.exe</originalFilename>
    <trademarks></trademarks>
    <language>ENGLISH_US</language>
  </versionInfo>
  <messages>
    <startupErr>An error occurred while starting the application.</startupErr>
    <jreNotFoundErr>This application requires a Java Runtime Environment.</jreNotFoundErr>
    <jreVersionErr>This application requires a Java Runtime Environment</jreVersionErr>
    <launcherErr>The registry refers to a nonexistent Java Runtime Environment installation or the runtime is corrupted.</launcherErr>
    <instanceAlreadyExistsMsg>An application instance is already running.</instanceAlreadyExistsMsg>
  </messages>
</launch4jConfig>